.carouselCover {
  padding: 0px 30px;
  position: relative;
  max-width: 90%;
  margin: auto;
}

.carouseContainer {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carouseContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.btn {
  width: 45px;
  height: 30px;
  position: absolute;
  top: 100%;
}
.btn svg {
  width: 25px;
  height: 25px;
}

.left {
  right: 90px;
  transform: scale(-1, 1);
}

.right {
  right: 3%;
}

@media only screen and (max-width: 600px) {
  .btn {
    display: none;
  }

  .scrollDots {
    text-align: center;
  }

  .scrollDot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
  }


  .scrollDotActive {
    background-color: #2e2d2d;
  }
}
